

.bug {
    background-color: #b1d46b;
}

.dark {
    background-color: #174453;
}

.dragon {
    background-color: #9f8637;
}

.electric {
    background-color: #f5b200;
}

.fairy {
    background-color: #db6392;
}

.fighting {
    background-color: #dc7413;
}

.fire {
    background-color: #e11922;
}

.flying {
    background-color: #a98ff0;
}

.ghost {
    background-color: #6e5896;
}

.grass {
    background-color: #8fbe31;
}

.ground {
    background-color: #dfbf69;
}

.ice {
    background-color: #98d5d7;
}

.normal {
    background-color: #eaeae9;
}

.poison {
    background-color: #a040a0;
}

.psychic {
    background-color: #e77ede;
}

.rock {
    background-color: #92887b;
}

.steel {
    background-color: #b9b7cf;
}

.water {
    background-color: #0961ce;
}