.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon { 
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1.5rem .8rem;
    border-radius: .8rem;
    background-color: #49d0b0;
}

.pokemon .number {
    color: #000000;
    opacity: 0.3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    color: #ffffff;
    margin-bottom: .15rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: #ffffff;
    padding: .2rem .4rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
}

.pokemons .detail img {
    max-width: 100%;
    height: 60px;
    align-self: flex-end;
}

@media screen and (min-width: 390px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
