.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon { 
    display: flex;
    flex-direction: column;
    border: 2px solid #0000004d;
    margin: .5rem;
    padding: 1.5rem .8rem;
    border-radius: 1.5rem 0 1.5rem 0;
}

.pokemon .number {
    color: #000000;
    opacity: 0.5;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #000000;
    margin-bottom: .15rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon .detail .types .type {
    color: #000000;
    opacity: 0.6;
    padding: .2rem .8rem;
    margin: .25rem 0;
    font-size: .6rem;
    border-radius: 1rem 0 1rem 0;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    filter: brightness(1.2);
}

.pokemons .detail img {
    max-width: 100%;
    height: 100px;
    align-self: flex-end;
    filter: drop-shadow(0 0 0.25rem #1b1a1a);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    color: #ffffff;
    background-color: #db6c75;
    border: 2px solid #0000004d;
    border-radius: 1rem 0 1rem 0;
    padding: .8rem .8rem;
    font-size: 1.2rem;
}

.pokemon:hover,
.pagination button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (min-width: 390px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
